{% extends "base.html" %}

{% block content %}
<h1>Works.log</h1>
{% for deportament in deportaments%}
<table class="table table-striped table-bordered">
    <thead>
                <tr>
                    <th>Название депортамента</th>
                    <th>Главный</th>
                    <th>Соотрудники</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ deportament.title }}</td>
                    <td>{{ users[deportament.id] }}</td>
                    <td>{{ deportament.members }}</td>
                    <td>{{ deportament.email }}</td>
                </tr>
            </tbody>
        </table>
<div>
{% if current_user.is_authenticated %}
    <div>
        <a href="/departament/{{ deportament.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/deportament_delete/{{ deportament.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}